<div class='header'>
      <h1>News Scraping with MongoDB, Mongoose, Express Handlebars</h1>
      <h1>NY Times Headlines - Technology</h1>
      <button id="btnGetArticles">Get Articles</button>
</div>

<hr>
<h3>Click on an article to leave a comment.</h3>


      <div id="articles">
      <h3>Articles</h3>
      </div>
      
      <div id="notes">
      
      </div>

<script src="../app.js"></script>
