.header {
    background: darkgray;
    padding: 10px;
}

h1 {
    color:blue;
}
#btnGetArticles {
    font-size: 18px;
}
h3 {
    margin-left: 20px;
}
#savenote {
    margin: 5px;
  }
  #deletenote {
    margin: 5px;
  }

  #articles {
    display: inline-block;
    margin: 20px;
    overflow: auto;
    width: 60%;
    height: 700px;
  }
  #notesHeader {
    float: right;
    width: 30%;
    margin-right:50px;
  }
  #notes {
    float: right;
    width: 30%;
    margin-right:50px;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: rgba(252, 245, 199, 0.514);
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }